body {
  padding: 18px 20px 0 20px;
}

#nav {
  position: absolute;
  right: 23px;
  top: 30px;
}

#nav img {
  border: none;
}

#title-header {
  text-align: center;
  font-size: 48pt;
  font-family: FreeSans, Arial, Helvetica;
  font-weight: bold;
  margin-top: 1.6em;
}

#title-subtitle {
  text-align: center;
  font-size: 36pt;
  font-family: FreeSans, Arial, Helvetica;
  font-style: italic;
  margin-top: 0.6em;
}

#title-author {
  text-align: center;
  font-size: 22pt;
  font-family: FreeSans, Arial, Helvetica;
  font-weight: bold;
  margin-top: 3.8em;
}

#title-logo {
  text-align: center;
  margin-top: 5.4em;
  padding-left: 3.0em;
}

h1 {
  font-size: 32pt;
  font-family: FreeSans, Arial, Helvetica;
  font-weight: bold;
  border-bottom: 4px solid #CB261C;
  padding-bottom: 6px;
  margin: 0 0 20px 0;
  line-height: 100%;
}

#toc {
  margin: 0 0 0.4em 0;
  padding-left: 4px;
  font-size: 16pt;
  font-family: Nimbus Sans L, Arial, Helvetica;
  list-style-image: url("images/toc_bullet.png");
}

#toc li {
  padding-left: 0;
  margin-top: 0.2em;
  margin-left: 20px;
}

#toc a {
  color: black;
  text-decoration: none;
}

#toc a:hover {
  color: black;
  background-color: #FFDAC1;
}

ul {
  margin: 0 0 0.4em 0;
  padding-left: 16px;
  font-size: 28pt;
  font-family: Nimbus Sans L, Arial, Helvetica;
  list-style-image: url("images/bullet.png");
}

li {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
  margin-left: 10px;
  padding-left: 2px;
}

.code {
  margin: 1.0em 0 1.0em 30px;
  padding: 0.7em 0.5em 0.7em 0.5em;
  font-family: Bitstream Vera Sans Mono, Courier New;
  font-size: 16.8pt;
  background-color: #EFEFEF;
  border: 1px solid #CB261C;
  -moz-border-radius: 10px;
}

.pic {
  float: right;
  padding-left: 0px;
  margin-left: 0px;
  border-left: 20px solid white;
}

.screenshot {
  margin-left: auto;
  margin-right: auto;
}

.commentary {
  font-size: 11pt;
  font-family: FreeSans, Arial, Helvetica;
  line-height: 16pt;
  border: 1px solid #BA261C;
  margin: 0 0 0 1em;
  padding: 1.2em;
}

.synComment    { color: #0000FF }
.synConstant   { color: #FF00FF }
.synIdentifier { color: #008B8B }
.synStatement  { color: #A52A2A ; font-weight: bold }
.synPreProc    { color: #A020F0 }
.synType       { color: #2E8B57 ; font-weight: bold }
.synSpecial    { color: #6A5ACD }
.synUnderlined { color: #000000 ; text-decoration: underline }
.synError      { color: #FFFFFF ; background: #FF0000 none }
.synTodo       { color: #0000FF ; background: #FFFF00 none }

